{% extends 'layouts/base.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('src/scss/pages/blog.scss') }}">
{% endblock %}

{% block content %}
<div class="container">
    {% include 'components/breadcrumb.twig' with { items: [{ label: 'Блог', url: '/blog' }] } %}
    <h1 class="page-title">Блог</h1>
    <div class="blog-grid">
        {% for post in posts %}
            <article class="blog-card">
                <a href="/blog/{{ post.slug }}" class="blog-card__image-wrap">
                    <img src="{{ post.image }}" alt="{{ post.title }}" class="blog-card__image" loading="lazy" width="400" height="240">
                </a>
                <div class="blog-card__body">
                    <div class="blog-card__meta">
                        <time datetime="{{ post.date }}">{{ post.date }}</time>
                        <span>{{ post.readTime }}</span>
                    </div>
                    <h2 class="blog-card__title"><a href="/blog/{{ post.slug }}">{{ post.title }}</a></h2>
                    <p class="blog-card__excerpt">{{ post.excerpt }}</p>
                    <a href="/blog/{{ post.slug }}" class="blog-card__link">Читать →</a>
                </div>
            </article>
        {% endfor %}
    </div>
</div>
{% endblock %}